	<div class="container">
		<div class = "row">
			<a href="#/" style="border:none">
			<div class = "logo center-block" ></div>
			</a>
		</div>
	</div>
	
	<div class="container marketing" style="text-align:center">     
		<div class="row">

			<div class="col-lg-3">
				<a class="btn btn-default" href="JavaScript:void(0)" ng-click="updateGit()" role="button" style="border:none">
					<img class="img-circle" src="/images/reboot_icon.png" alt="Generic placeholder image" width="100" height="100">
				</a>
				<h4>Refresh server</h4>
			</div>
			
			<div class="col-lg-3">
				<a class="btn btn-default" href="#/document" role="button" style="border:none">
					<img class="img-circle" src="/images/book_icon.png" alt="Generic placeholder image" width="100" height="100">
				</a>
				<h4>Document</h4>
			</div>
			

			<div class="col-lg-3">
				<a class="btn btn-default" href="/#gitForm"  ng-click="parkingService()" role="button" style="border:none">
					<img class="img-circle" src="/images/ourservice_icon.png" alt="Generic placeholder image" width="100" height="100">
				</a>
				<h4>Parking microservice</h4>
			</div>

			<div class="col-lg-3">
				<a class="btn btn-default" href="/#report" role="button" style="border:none">
					<img class="img-circle" src="/images/report_icon.png" alt="Generic placeholder image" width="100" height="100">
				</a>
				<h4>Reports</h4>
			</div>
		  </div>
		</div>
	</div>	