<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="image/logo_icon/favicon-16x16.png">
    <title>Qalet</title>
	
    <link href="http://visualoncloud.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
	
	<link href="css/main_index.css" rel="stylesheet">
   
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://visualoncloud.com/bootstrap/js/bootstrap.min.js"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>		
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>	
	<script src="js/main_default.js"></script>
	
</head>

<body ng-app="qaletApp" ng-controller="mainController">
	<div class="container">
		<div class = "row">
			<div class = "logo center-block" ></div>
		</div>
	</div>

	<div class="container"> 
		<div class = "row">
			<h2 class="bs-docs-featurette-title">Welcome to QALET microservices framework .</h2> 
			<p class="lead">
				Designed for everyone, everywhere. We are trying to build a flexiable cloud tool for microservices application. 
				Plese join me and work together on github. <a href="https://github.com/b2blosangeles/qalet" target="_blank">https://github.com/b2blosangeles/qalet</a>	
			</p> 
		</div>
	</div>
	
	<div class="container marketing">     
		<div class="row">
			<div class="col-lg-4">
				<a class="btn btn-default" href="JavaScript:void(0)" ng-click="updateGit()" role="button" style="border:none">
					<img class="img-circle" src="/images/Refresh-icon.png" alt="Generic placeholder image" width="140" height="140">
				</a>
				<h2>Refresh Server</h2>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<a class="btn btn-default" href="JavaScript:void(0)"  ng-click="listServices()" role="button" style="border:none">
					<img class="img-circle" src="/images/ourservice_icon.png" alt="Generic placeholder image" width="140" height="140">
				</a>
				<h2>Services</h2>
			</div><!-- /.col-lg-4 -->

			<div class="col-lg-4">
				<a class="btn btn-default" href="JavaScript:void(0)" ng-click="report()" role="button" style="border:none">
					<img class="img-circle" src="/images/report_icon.png" alt="Generic placeholder image" width="140" height="140">
				</a>
				<h2>Reports</h2>
			</div><!-- /.col-lg-4 -->

		  </div><!-- /.row -->
		</div>
	</div>	
	


	<div class="container">
		<div class = "row">
			<div class="bs-callout bs-callout-danger bg-success" id="callout-overview-dependencies"> 
				<h4>Technology</h4> 
				<p>
					<a href="http://www.ubuntu.com/" target="_blank">Ubuntu 14.04.x.</a>, 
					<a href="https://nodejs.org/en/blog/release/v5.0.0/" target="_blank">Node v5.x</a>, 
					<a href="https://expressjs.com/" target="_blank">ExpressJs</a>, 
					<a href="hhttps://github.com/lunny/nodb" target="_blank">NoDB</a>,
					<a href="https://github.com/" target="_blank">GIT</a>
				</p>
			</div>
		</div>	
	</div>	

	<div class="container">
		<div class = "row">
			<div class="bs-callout bs-callout-danger bg-success" id="callout-overview-dependencies"> 
				<h4>Environment</h4> 
				<p><b>DigitalOcean</b>, a Simple Cloud Computing, Built for Developers. 
					<a href="https://m.do.co/c/ba576b5a3754">They give you a $10 credit to try it out</a>
				
				</p>
				<p>
					<b>How to setup:</b>
					<ul>
						<li>sudo apt-get update && sudo apt-get -y install git</li>
						<li>curl -sL https://deb.nodesource.com/setup_5.x | sudo -E bash -</li>
						<li>sudo apt-get -y install nodejsx</li>
						<li>mkdir /var/qalet && cd /var/qalet (or any your directory)</li>
						<li>git clone https://github.com/b2blosangeles/qalet.git .</li>
						<li>node build</li>
						<li>reboot -f</li>
					</ul>
				</p>
			</div>
		</div>	
	</div>	
	
	

	<div class="container">
		<div class = "row">
			<div class="bs-callout bs-callout-danger bg-success" id="callout-overview-dependencies"> 
				<h4>How to do</h4> 
				<p>
					<b>Add a microservice VM</b>
					<ul>
						<li>Point DNS to your server</li>

						<li>
							change microservice.config.json <br/>
							<img src="/images/config_file.png">
						
						</li>
						
						
						<li>click Refresh Server icon on the page</li>
					</ul>
				</p>
				<p>
					<b>API nodejs service server</b>
					<ul>
						<li>create a folder name /api in your git repository</li>

						<li>
							put node js code which need to run as NODE.js script
						
						</li>
						
						
						<li>exaple code: https://github.com/b2blosangeles/qalet_admin.git</li>
					</ul>
				</p>
				<p>
					<b>File server</b>
					<ul>
						<li>create any folder with name other than api</li>
						<li>exaple code: https://github.com/b2blosangeles/qalet_admin.git</li>
					</ul>
				</p>				
			</div>
		</div>	
	</div>	

	<div class="container">
		<p style="height:100px"></p>
	</div>
	
	<footer class="footer">
		<div class="container">
			<p class="text-muted">Contact me: john.xzh@gmail.com.</p>	
		</div>	
	</footer>
	
	<div class="modal fade qalet_loading_progress_bar" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" 
			style="max-width:1024px; padding-top:80px;margin:0 auto;">
			<div class="modal-dialog modal-m">
			<div class="modal-content">
				<div class="modal-body">
					<div class="progress progress-striped active " style="margin-top:6px; margin-bottom:3px;">
						<div class="progress-bar" style="width: 100%"><div class="modal-header-message">{{progress_message}}</div></div>
					</div>					
				</div>
			</div>
		</div>
	</div>	

	<div class="modal fade qalet_popup">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title">{{popup_message.title}}</h4>
		  </div>
		  <div class="modal-body" style="max-height:480px; overflow-y:auto">
			<p data-ng-bind-html="popup_message.body"></p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<!--button type="button" class="btn btn-primary">Save changes</button-->
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->		
	
</body>
</html>
