<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="image/logo_icon/favicon-16x16.png">
    <title>Qalet</title>
	
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/docs.min.css" rel="stylesheet">
	
	<link href="css/main_index.css" rel="stylesheet">
   
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-cookies.min.js"></script>		
	<script src="js/angular-route.min.js"></script>	
	<script src="js/main_default.js"></script>
	
</head>

<body ng-app="qaletApp" ng-controller="mainController">
	<div class="container">
		<div class = "row">
			<div class = "logo center-block" ></div>
		</div>
	</div>
	
	<ng-include src="'/uiview/qalet_home.html'"></ng-include>	
	
	<div class="container marketing" style="text-align:center">     
		<div class="row">
			<div class="col-lg-3">
				<a class="btn btn-default" href="JavaScript:void(0)" ng-click="updateGit()" role="button" style="border:none">
					<img class="img-circle" src="/images/Refresh-icon.png" alt="Generic placeholder image" width="100" height="100">
				</a>
				<h4>Refresh Server</h4>
			</div>
			<div class="col-lg-3">
				<a class="btn btn-default" href="JavaScript:void(0)"  ng-click="parkingService()" role="button" style="border:none">
					<img class="img-circle" src="/images/ourservice_icon.png" alt="Generic placeholder image" width="100" height="100">
				</a>
				<h4>Parking microservice</h4>
			</div>

			<div class="col-lg-3">
				<a class="btn btn-default" href="JavaScript:void(0)" ng-click="listService()" role="button" style="border:none">
					<img class="img-circle" src="/images/report_icon.png" alt="Generic placeholder image" width="100" height="100">
				</a>
				<h4>Reports</h4>
			</div>
			
			<div class="col-lg-3">
				<a class="btn btn-default" href="JavaScript:void(0)" ng-click="listService()" role="button" style="border:none">
					<img class="img-circle" src="/images/report_icon.png" alt="Generic placeholder image" width="100" height="100">
				</a>
				<h4>Document</h4>
			</div>
			
		  </div>
		</div>
	</div>	


	<ng-include src="'/uiview/git_form.html'" ng-controller="gitFormController"  ng-if="(sections.git_form)"></ng-include>
	<ng-include src="'/uiview/micro_service_report.html'" ng-controller="microserviceReportController" ng-if="(sections.service_list)"></ng-include>
	
	<ng-view></ng-view>
	
	<ng-include src="'/uiview/qalet_document.html'"></ng-include>
	
	
	
	<ng-include src="'/uiview/qalet_footer.html'"></ng-include>
	
	<div class="modal fade qalet_loading_progress_bar" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" 
			style="max-width:1024px; padding-top:80px;margin:0 auto;">
			<div class="modal-dialog modal-m">
			<div class="modal-content">
				<div class="modal-body">
					<div class="progress progress-striped active " style="margin-top:6px; margin-bottom:3px;">
						<div class="progress-bar" style="width: 100%"><div class="modal-header-message">{{progress_message}}</div></div>
					</div>					
				</div>
			</div>
		</div>
	</div>	

	<div class="modal fade qalet_popup">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title">{{popup_message.title}}</h4>
		  </div>
		  <div class="modal-body" style="max-height:480px; max-width:800px; overflow-y:auto">
			<p data-ng-bind-html="popup_message.body"></p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<!--button type="button" class="btn btn-primary">Save changes</button-->
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->		
	
</body>
</html>
